* {
    background-color: #eeb882;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 110%;
}

body {
    text-align: center;
}

.main-div {
    margin: 20px auto;
}

.div-drawings {
    margin: 10px auto;
}

.div-drawings button {
    width: 220px;
    height: 55px;
    font-size: 20px;
    background-color: rgb(236, 139, 152);
    border: 2px solid #555;
    margin: 10px auto;
}

#create-btn {
    width: 220px;
    height: 55px;
    font-size: 20px;
    background-color: rgb(199, 139, 236);
    border: 2px solid #555;
    margin: 10px auto;
}

