:root {
    box-sizing: border-box;
}

* {
    background-color: #424899;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

.main-div {
    margin: 10px auto;
    width: 95%;
    height: 70vh;
    position: relative;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
}

#slider-value,
#color-value {
    color: rgb(227, 241, 198);
    font-weight: bold;
}

#slider {
    width: 150px;
}

.properties {
    display: flex;
    justify-content: space-around;
    margin: 1px auto;
    text-align: center;
}

.props {
    flex-grow: 7;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#div-shapes {
    flex-grow: 2;
}

.btns {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#clear-btn,
#undo-btn,
#save-btn,
#back-btn {
    width: 120px;
    height: 28px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border: none;
    margin-bottom: 8px;
    color: #fff;
}

#clear-btn {
    background-color: #20c277;
}

#undo-btn {
    background-color: #dea404;
}

/* #save-btn {
    background-color: rgb(255, 210, 112);
} */

#back-btn {
    background-color: #d1605a;
}

.feature label {
    font-size: 28px;
}

.feature p {
    font-size: 15px;
}

#div-shapes {
    margin: 0;
    text-align: left;
}

#div-shapes label {
    display: block;
}