* {
    background-color: #656bb6;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 110%;
}

body {
    text-align: center;
    color: #ffffff;
}

.main-div {
    margin: 20px auto;
}

.div-drawings {
    margin: 10px auto;
}

.div-drawings button,
#create-btn {
    width: 220px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    margin: 10px auto;
}

.div-drawings button {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    color: #f15c5c;
    background: #feee7d;
}

#create-btn {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    color: #FFFFFF;
    background: #F32C52;
}